@back: #000;
@gray: #1d1d1d;
@fore: #fff;
@life: #f00;
@snake: #00b800;
@water: #00f;

@faded: 0.5;
@snake-fade: 1000ms;
@life-fade: 500ms;
@game-size: 600px;
@game-margin: 20px;
@wrap-width: 1000px;


html, body, article, button, input, form, h1, h2, h3, ul, ol, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
}

.hidden {
  opacity: 0 !important;
}

.gone {
  display: none !important;
}

body {
  background-color: @gray;
  color: @fore;
}

.group:after {
  clear: both;
  content: "";
  display: table;
}

.wrap {
  width: @wrap-width;
  margin: auto;
}

.text-shadow (@color; @blur: 20px) {
  text-shadow: 0px 0px @blur @color;
}

.box-shadow (@color; @blur: 20px){
  background-color: @color;
  box-shadow: 0px 0px @blur @color;
}

.no-box-shadow {
  box-shadow: 0px 0px 0px #000 !important;
}

.fader (@time: 0.2s; @opacity: 1.0; @method: ease;){
  -webkit-transition: opacity @time @method;
  transition: opacity @time @method;
  opacity: @opacity;
}
header {
  h1 {
    width: 660px;
    margin: 20px 0px 0px 90px;
    text-align: center;
    font-size: 200%;

    .snake {
      color: @snake;
    }

    .life {  
      color: @life;
      .text-shadow(@life);
    }
  }

  h2 {
    font-size: 200%;

    strong {
      font-size: 150%;
      color: @water;
      .text-shadow(@water);
    }

    em {
      color: @snake;
      font-size: 60%;
    }
  }

  h3 {
    font-size: 150%;
    color: darken(@fore, 20%);

    strong {
      font-size: 120%;
      color: @life;
      .text-shadow(@life);
    }
  }
  button {   
    color: @gray;
    margin: 10px 0px;
    .box-shadow(@water);
    border-radius: 5px;
    cursor: pointer;

    &:hover, &:focus {
      outline: none;
      .box-shadow(@snake);
    }
  }
}

.info {
  .fader;
}

form.controls {
  float: left;
  .text-shadow(@fore, 1px);

  div {
    margin: 10px 0px;
  }

  img {
    position: relative;
    width: 20px;
    height: auto;
    top: 8px;
  }

  input[type="radio"]{
    margin-right: 3px;
  }

  input[type="submit"], button{
    color: @gray;
    padding: 0px 4px;
    .box-shadow(@life);
    border-radius: 5px;
    cursor: pointer;

    &:hover, &:focus {
      outline: none;
      .box-shadow(@snake);
    }
  }
}

article {
  width: 245px;
  float: right;
  text-align: justify;

  .instructions {
    font-size: 100%;
    .text-shadow(@fore, 1px);
    margin-bottom: 20px;

    li {
      margin-left: 20px;
    }
  }

  div.audio {
    margin-left: -15px;
    .fader;

    a {
      display: block;
      width: 280px;
      margin-top: 2px;
      padding-left: 15px;
      text-align: left;
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

ul {
  float: left;
  margin: 0px @game-margin;
  list-style: none;
  background-color: @back;
  border: 1px solid @snake;
  width: @game-size;
  height: @game-size;

  li {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    opacity: 0;


    &.apple, &.water, &.presnake, &.prelife {
      opacity: 1;
    }

    &.apple {
      background: url("images/apple.png");
      background-position: 2px 0px;
      background-size: auto 30px;
      background-repeat: no-repeat;
    }

    &.snake {
      .fader(@snake-fade, @faded);
      .box-shadow(@snake);
    }

    &.living {
      .fader(@life-fade, @faded, ease-out);
      .box-shadow(@life, 80px);
    }

    &.water {
      background-color: @water;
    }
  }
}