html, body, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #181818;
  color: #fff;
  font-family: sans-serif;
}

strong {

}

em {
  font-size: 80%;
}


ul {
  margin: 50px auto;
  list-style: none;
  background-color: #000;
  width: 600px;
  height: 600px;
}

li {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  opacity: 0.0;
}

li.snake, li.apple, li.living, li.water {
  opacity: 1.0;
}

li.snake {
  background-color: #004d00;
}

li.apple {
  background: url("apple.png");
  background-position: 2px 0px;
  background-size: auto 30px;
  background-repeat: no-repeat;
}

li.living {
  background-color: #f00;
  box-shadow: 0px 0px 80px #f00;
}

li.water {
  background-color: #00f;
}