@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700,400);

@fire: #f00;
@snake: #00b800;
@water: #00f;
@ice: #0ff;
@gold: #ffd700;

.responsive(@screen-width, @screen-height, @inner-size, @font-size: 60px) {
  @tile-size: @inner-size / 16;

  @media only screen and (min-width: @screen-width) and (min-height: @screen-height) {
    section, header {
      width: @inner-size + 2px;
    }

    h1 {
      font-size: @font-size;
    }

    #water-tank {
      height: @inner-size * 0.75;
      width: @tile-size;
      top: @tile-size * 2;
      left: -2 * @tile-size;
    }

    .counts {
      top: @tile-size * 2;
      left: @inner-size + @tile-size;
    }

    .message {
      margin-top: @tile-size * 2;
    }

    #board {
      width: @inner-size;
      height: @inner-size;

      li {
        width: @tile-size;
        height: @tile-size;
        border-radius: @tile-size / 6;

        &:hover {
          width: @tile-size - 2px;
          height: @tile-size - 2px;
        }

        &.head, &.living, &.water {
          border-radius: @tile-size / 6;
        }
      }
    }
  }
}

html, body, article, section, button, input, form, h1, h2, h3, ul, ol, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}

.hidden {
  visibility: hidden !important;
}

.gone {
  display: none !important;
}

body {
  background-color: #222;
  color: #eee;
}

header {
  width: 482px;
  margin: auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

section {
  width: 482px;
  margin: auto;
  position: relative;
}

h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 24px;
}

.counts {
  position: absolute;
  top: 60px;
  left: 570px;
  min-width: 200px;
}

.count {
  margin-bottom: 10px;
}

.total-score {
 .count;
  .score {
    color: #fff;
  }
}

.apple-count {
  .count;
  .score {
    color: lighten(@gold, 10%);
  }
}

.flame-count {
  .count;
  .score {
    color: @ice;
  }
}

.turn-count {
  .count;
  .score {
    color: lighten(@snake, 10%);
  }
}

.score {
  display: inline-block;
  float: left;
  margin-right: 8px;
}

#modal {
  top: 0; right: 0; bottom: 0; left: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: 1s opacity;
}

.message {
  margin-top: 60px;
  font-size: 24px;
  color: #000;

  &.game-over {
    font-size: 36px;
    font-weight: bold;
  }

  .fire {
    color: darken(@fire, 10%);
    font-weight: bold;
  }

  .water {
    color: darken(@water, 10%);
    font-weight: bold;
  }

  .snake {
    color: darken(@snake, 10%);
    font-weight: bold;
  }

  .apple {
    color: @gold;
    text-shadow: 0 0 2px @gold;
  }
}

#new-game {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  width: 120px;
  height: 50px;
  text-align: center;
  display: none;
  color: #000;

  input {
    background-color: #ffa500;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: auto;
  }
}

#water-tank {
  position: absolute;
  left: 20px;
  top: 60px;
  height: 360px;
  width: 30px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #333;
}

#water-level {
  background-color: @water;
  height: 100%;
  width: 100%;
  position: relative;
}

#board {
  margin: auto;
  list-style: none;
  background-color: #000;
  border: 1px solid @snake;
  width: 480px;
  height: 480px;

  li {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;

    &:hover {
      border: 1px solid @ice;
      width: 28px;
      height: 28px;
    }
  }

  .apple {
    background-color: @gold;
    border-radius: 30px;
    box-shadow: 0 0 8px @gold;
  }

  .snake {
    background-color: @snake;
  }

  .head {
    background-color: darken(@snake, 10%);
    border-radius: 5px;
    box-shadow: 0 0 2px @snake;
  }

  .living {
    background-color: @fire;
    border-radius: 5px;
  }

  .water {
    background-color: @water;
    border-radius: 5px;
  }
}

.responsive(0, 0, 64px, 16px);
.responsive(200px, 178px, 128px, 16px);
.responsive(300px, 242px, 192px, 24px);
.responsive(400px, 306px, 256px, 36px);
.responsive(500px, 395px, 320px, 48px);
.responsive(600px, 459px, 384px, 48px);
.responsive(700px, 548px, 448px);
.responsive(800px, 612px, 512px);
.responsive(900px, 676px, 576px);
.responsive(1000px, 740px, 640px);
.responsive(1100px, 804px, 704px);
.responsive(1200px, 868px, 768px);
.responsive(1300px, 932px, 832px);