@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700,400);
.none-animation {
  -webkit-animation-name: none;
  animation-name: none;
}
html,
body,
article,
section,
button,
input,
form,
h1,
h2,
h3,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}
.hidden {
  visibility: hidden !important;
}
.gone {
  display: none !important;
}
body {
  background-color: #222;
  color: #eee;
}
header {
  width: 482px;
  margin: auto;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
section {
  width: 482px;
  margin: auto;
  position: relative;
}
h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 60px;
}
h2 {
  font-size: 24px;
}
.counts {
  position: absolute;
  top: 60px;
  left: 570px;
  min-width: 200px;
}
.count {
  margin-bottom: 10px;
}
.total-score {
  margin-bottom: 10px;
}
.total-score .score {
  color: #fff;
}
.apple-count {
  margin-bottom: 10px;
}
.apple-count .score {
  color: #ffdf33;
}
.flame-count {
  margin-bottom: 10px;
}
.flame-count .score {
  color: #00ffff;
}
.turn-count {
  margin-bottom: 10px;
}
.turn-count .score {
  color: #00eb00;
}
.score {
  display: inline-block;
  float: left;
  margin-right: 8px;
}
.buttons {
  position: absolute;
  bottom: -48px;
  width: 100%;
}
.buttons button {
  background-color: #ddd;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 36px;
  line-height: 16px;
  font-weight: bold;
  margin-left: 64px;
  border-radius: 8px;
  cursor: pointer;
}
.buttons button:first-child {
  margin-left: 0;
}
#modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: 1s opacity;
}
.message {
  margin-top: 60px;
  font-size: 24px;
  color: #000;
}
.message.game-over {
  font-size: 36px;
  font-weight: bold;
}
.message .fire {
  color: #cc0000;
  font-weight: bold;
}
.message .water {
  color: #0000cc;
  font-weight: bold;
}
.message .snake {
  color: #008500;
  font-weight: bold;
}
.message .apple {
  color: #ffd700;
  text-shadow: 0 0 2px #ffd700;
}
#new-game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 120px;
  height: 50px;
  text-align: center;
  display: none;
  color: #000;
}
#new-game input {
  background-color: #ffa500;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 120px;
  height: 45px;
  font-size: 20px;
  margin: auto;
}
#water-tank {
  position: absolute;
  left: 20px;
  top: 60px;
  height: 360px;
  width: 30px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #333;
}
#water-level {
  background-color: #0000ff;
  height: 100%;
  width: 100%;
  position: relative;
}
#board {
  margin: auto;
  list-style: none;
  background-color: #000;
  border: 1px solid #00b800;
  width: 480px;
  height: 480px;
}
#board li {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
#board li:hover {
  border: 1px solid #00ffff;
  width: 28px;
  height: 28px;
}
#board .apple {
  background-color: #ffd700;
  border-radius: 30px;
  box-shadow: 0 0 16px #fff;
}
#board .apple:not(.living) {
  -webkit-animation-name: apple;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: apple;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes apple {
  0% {
    background-color: #ffd700;
    box-shadow: 0 0 4px #ffffff;
  }
  50% {
    background-color: #ffdf33;
    box-shadow: 0 0 8px #ffffff;
  }
  100% {
    background-color: #ffd700;
    box-shadow: 0 0 4px #ffffff;
  }
}
@keyframes apple {
  0% {
    background-color: #ffd700;
    box-shadow: 0 0 4px #ffffff;
  }
  50% {
    background-color: #ffdf33;
    box-shadow: 0 0 8px #ffffff;
  }
  100% {
    background-color: #ffd700;
    box-shadow: 0 0 4px #ffffff;
  }
}
#board .snake {
  background-color: #00b800;
}
#board .head {
  background-color: #008500;
  border-radius: 5px;
  box-shadow: 0 0 2px #00b800;
}
#board .living {
  background-color: #ff0000;
  border-radius: 5px;
}
#board .living.super-hot {
  border: 1px solid #993cf3;
  width: 28px;
  height: 28px;
  background-color: #cc0000;
  box-shadow: 0 0 8px #993CF3;
  -webkit-animation-name: super-hot;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: super-hot;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes super-hot {
  0% {
    background-color: #cc0000;
    box-shadow: 0 0 4px #993cf3;
  }
  50% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #993cf3;
  }
  100% {
    background-color: #cc0000;
    box-shadow: 0 0 4px #993cf3;
  }
}
@keyframes super-hot {
  0% {
    background-color: #cc0000;
    box-shadow: 0 0 4px #993cf3;
  }
  50% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #993cf3;
  }
  100% {
    background-color: #cc0000;
    box-shadow: 0 0 4px #993cf3;
  }
}
#board .water {
  background-color: #0000ff;
  border-radius: 5px;
  -webkit-animation-name: none;
  animation-name: none;
}
@media only screen and (min-width: 0) and (min-height: 0) {
  section,
  header {
    width: 66px;
  }
  h1 {
    font-size: 16px;
  }
  #water-tank {
    height: 48px;
    width: 4px;
    top: 8px;
    left: -8px;
  }
  .counts {
    top: 8px;
    left: 68px;
  }
  .message {
    margin-top: 8px;
  }
  .buttons {
    bottom: -8px;
  }
  .buttons button {
    width: 8px;
    height: 8px;
    font-size: 4px;
    line-height: 2px;
    margin-left: 10.66666667px;
    border-radius: 0.66666667px;
  }
  #board {
    width: 64px;
    height: 64px;
  }
  #board li {
    width: 4px;
    height: 4px;
    border-radius: 0.66666667px;
  }
  #board li:hover {
    width: 2px;
    height: 2px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 0.66666667px;
  }
  #board li.living.super-hot {
    width: 2px;
    height: 2px;
  }
}
@media only screen and (min-width: 200px) and (min-height: 178px) {
  section,
  header {
    width: 130px;
  }
  h1 {
    font-size: 16px;
  }
  #water-tank {
    height: 96px;
    width: 8px;
    top: 16px;
    left: -16px;
  }
  .counts {
    top: 16px;
    left: 136px;
  }
  .message {
    margin-top: 16px;
  }
  .buttons {
    bottom: -16px;
  }
  .buttons button {
    width: 16px;
    height: 16px;
    font-size: 8px;
    line-height: 4px;
    margin-left: 21.33333333px;
    border-radius: 1.33333333px;
  }
  #board {
    width: 128px;
    height: 128px;
  }
  #board li {
    width: 8px;
    height: 8px;
    border-radius: 1.33333333px;
  }
  #board li:hover {
    width: 6px;
    height: 6px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 1.33333333px;
  }
  #board li.living.super-hot {
    width: 6px;
    height: 6px;
  }
}
@media only screen and (min-width: 300px) and (min-height: 242px) {
  section,
  header {
    width: 194px;
  }
  h1 {
    font-size: 24px;
  }
  #water-tank {
    height: 144px;
    width: 12px;
    top: 24px;
    left: -24px;
  }
  .counts {
    top: 24px;
    left: 204px;
  }
  .message {
    margin-top: 24px;
  }
  .buttons {
    bottom: -24px;
  }
  .buttons button {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 6px;
    margin-left: 32px;
    border-radius: 2px;
  }
  #board {
    width: 192px;
    height: 192px;
  }
  #board li {
    width: 12px;
    height: 12px;
    border-radius: 2px;
  }
  #board li:hover {
    width: 10px;
    height: 10px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 2px;
  }
  #board li.living.super-hot {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (min-width: 400px) and (min-height: 306px) {
  section,
  header {
    width: 258px;
  }
  h1 {
    font-size: 36px;
  }
  #water-tank {
    height: 192px;
    width: 16px;
    top: 32px;
    left: -32px;
  }
  .counts {
    top: 32px;
    left: 272px;
  }
  .message {
    margin-top: 32px;
  }
  .buttons {
    bottom: -32px;
  }
  .buttons button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 8px;
    margin-left: 42.66666667px;
    border-radius: 2.66666667px;
  }
  #board {
    width: 256px;
    height: 256px;
  }
  #board li {
    width: 16px;
    height: 16px;
    border-radius: 2.66666667px;
  }
  #board li:hover {
    width: 14px;
    height: 14px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 2.66666667px;
  }
  #board li.living.super-hot {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (min-width: 500px) and (min-height: 395px) {
  section,
  header {
    width: 322px;
  }
  h1 {
    font-size: 48px;
  }
  #water-tank {
    height: 240px;
    width: 20px;
    top: 40px;
    left: -40px;
  }
  .counts {
    top: 40px;
    left: 340px;
  }
  .message {
    margin-top: 40px;
  }
  .buttons {
    bottom: -40px;
  }
  .buttons button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 10px;
    margin-left: 53.33333333px;
    border-radius: 3.33333333px;
  }
  #board {
    width: 320px;
    height: 320px;
  }
  #board li {
    width: 20px;
    height: 20px;
    border-radius: 3.33333333px;
  }
  #board li:hover {
    width: 18px;
    height: 18px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 3.33333333px;
  }
  #board li.living.super-hot {
    width: 18px;
    height: 18px;
  }
}
@media only screen and (min-width: 600px) and (min-height: 459px) {
  section,
  header {
    width: 386px;
  }
  h1 {
    font-size: 48px;
  }
  #water-tank {
    height: 288px;
    width: 24px;
    top: 48px;
    left: -48px;
  }
  .counts {
    top: 48px;
    left: 408px;
  }
  .message {
    margin-top: 48px;
  }
  .buttons {
    bottom: -48px;
  }
  .buttons button {
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 12px;
    margin-left: 64px;
    border-radius: 4px;
  }
  #board {
    width: 384px;
    height: 384px;
  }
  #board li {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  #board li:hover {
    width: 22px;
    height: 22px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 4px;
  }
  #board li.living.super-hot {
    width: 22px;
    height: 22px;
  }
}
@media only screen and (min-width: 700px) and (min-height: 548px) {
  section,
  header {
    width: 450px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 336px;
    width: 28px;
    top: 56px;
    left: -56px;
  }
  .counts {
    top: 56px;
    left: 476px;
  }
  .message {
    margin-top: 56px;
  }
  .buttons {
    bottom: -56px;
  }
  .buttons button {
    width: 56px;
    height: 56px;
    font-size: 28px;
    line-height: 14px;
    margin-left: 74.66666667px;
    border-radius: 4.66666667px;
  }
  #board {
    width: 448px;
    height: 448px;
  }
  #board li {
    width: 28px;
    height: 28px;
    border-radius: 4.66666667px;
  }
  #board li:hover {
    width: 26px;
    height: 26px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 4.66666667px;
  }
  #board li.living.super-hot {
    width: 26px;
    height: 26px;
  }
}
@media only screen and (min-width: 800px) and (min-height: 612px) {
  section,
  header {
    width: 514px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 384px;
    width: 32px;
    top: 64px;
    left: -64px;
  }
  .counts {
    top: 64px;
    left: 544px;
  }
  .message {
    margin-top: 64px;
  }
  .buttons {
    bottom: -64px;
  }
  .buttons button {
    width: 64px;
    height: 64px;
    font-size: 32px;
    line-height: 16px;
    margin-left: 85.33333333px;
    border-radius: 5.33333333px;
  }
  #board {
    width: 512px;
    height: 512px;
  }
  #board li {
    width: 32px;
    height: 32px;
    border-radius: 5.33333333px;
  }
  #board li:hover {
    width: 30px;
    height: 30px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 5.33333333px;
  }
  #board li.living.super-hot {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 900px) and (min-height: 676px) {
  section,
  header {
    width: 578px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 432px;
    width: 36px;
    top: 72px;
    left: -72px;
  }
  .counts {
    top: 72px;
    left: 612px;
  }
  .message {
    margin-top: 72px;
  }
  .buttons {
    bottom: -72px;
  }
  .buttons button {
    width: 72px;
    height: 72px;
    font-size: 36px;
    line-height: 18px;
    margin-left: 96px;
    border-radius: 6px;
  }
  #board {
    width: 576px;
    height: 576px;
  }
  #board li {
    width: 36px;
    height: 36px;
    border-radius: 6px;
  }
  #board li:hover {
    width: 34px;
    height: 34px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 6px;
  }
  #board li.living.super-hot {
    width: 34px;
    height: 34px;
  }
}
@media only screen and (min-width: 1000px) and (min-height: 740px) {
  section,
  header {
    width: 642px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 480px;
    width: 40px;
    top: 80px;
    left: -80px;
  }
  .counts {
    top: 80px;
    left: 680px;
  }
  .message {
    margin-top: 80px;
  }
  .buttons {
    bottom: -80px;
  }
  .buttons button {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 20px;
    margin-left: 106.66666667px;
    border-radius: 6.66666667px;
  }
  #board {
    width: 640px;
    height: 640px;
  }
  #board li {
    width: 40px;
    height: 40px;
    border-radius: 6.66666667px;
  }
  #board li:hover {
    width: 38px;
    height: 38px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 6.66666667px;
  }
  #board li.living.super-hot {
    width: 38px;
    height: 38px;
  }
}
@media only screen and (min-width: 1100px) and (min-height: 804px) {
  section,
  header {
    width: 706px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 528px;
    width: 44px;
    top: 88px;
    left: -88px;
  }
  .counts {
    top: 88px;
    left: 748px;
  }
  .message {
    margin-top: 88px;
  }
  .buttons {
    bottom: -88px;
  }
  .buttons button {
    width: 88px;
    height: 88px;
    font-size: 44px;
    line-height: 22px;
    margin-left: 117.33333333px;
    border-radius: 7.33333333px;
  }
  #board {
    width: 704px;
    height: 704px;
  }
  #board li {
    width: 44px;
    height: 44px;
    border-radius: 7.33333333px;
  }
  #board li:hover {
    width: 42px;
    height: 42px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 7.33333333px;
  }
  #board li.living.super-hot {
    width: 42px;
    height: 42px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 868px) {
  section,
  header {
    width: 770px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 576px;
    width: 48px;
    top: 96px;
    left: -96px;
  }
  .counts {
    top: 96px;
    left: 816px;
  }
  .message {
    margin-top: 96px;
  }
  .buttons {
    bottom: -96px;
  }
  .buttons button {
    width: 96px;
    height: 96px;
    font-size: 48px;
    line-height: 24px;
    margin-left: 128px;
    border-radius: 8px;
  }
  #board {
    width: 768px;
    height: 768px;
  }
  #board li {
    width: 48px;
    height: 48px;
    border-radius: 8px;
  }
  #board li:hover {
    width: 46px;
    height: 46px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 8px;
  }
  #board li.living.super-hot {
    width: 46px;
    height: 46px;
  }
}
@media only screen and (min-width: 1300px) and (min-height: 932px) {
  section,
  header {
    width: 834px;
  }
  h1 {
    font-size: 60px;
  }
  #water-tank {
    height: 624px;
    width: 52px;
    top: 104px;
    left: -104px;
  }
  .counts {
    top: 104px;
    left: 884px;
  }
  .message {
    margin-top: 104px;
  }
  .buttons {
    bottom: -104px;
  }
  .buttons button {
    width: 104px;
    height: 104px;
    font-size: 52px;
    line-height: 26px;
    margin-left: 138.66666667px;
    border-radius: 8.66666667px;
  }
  #board {
    width: 832px;
    height: 832px;
  }
  #board li {
    width: 52px;
    height: 52px;
    border-radius: 8.66666667px;
  }
  #board li:hover {
    width: 50px;
    height: 50px;
  }
  #board li.head,
  #board li.living,
  #board li.water {
    border-radius: 8.66666667px;
  }
  #board li.living.super-hot {
    width: 50px;
    height: 50px;
  }
}
